<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <%= render partial: "team_sidebar" %>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
         <h1>Team Contributions</h1>
         <%= render partial: "team_contribution" %>
      </div>
    </div>
  </div>
</div>
