    <div class="well">
      <div class="row">
        <div class="col-md-2">
          <%= part_preview(accepted_part.part) %>
        </div>
        <div class="col-md-2">
          <%= print_job_photo_preview(accepted_part) %>
        </div>
        <div class="col-md-6">
          <%= render partial: "part_details", locals: { part: accepted_part } %>
        </div>
        <div class="col-md-2">
          <% # no buttons %>
        </div>
	  </div>
    </div>
