    <div class="well">
      <div class="row">
        <div class="col-md-2">
          <%= part_preview(printing_part.part) %>
        </div>
        <div class="col-md-8">
          <%= render partial: "part_details", locals: { part: printing_part } %>
        </div>
        <div class="col-md-2">
          <div class="">
            <p><%= button_to("Unassign", project_print_job_unassign_path(printing_part.project_id, printing_part.id), class: "btn btn-danger btn-block") %></p>
          </div>
          <%= render partial: "admin_part_options", locals: { part: printing_part } %>
        </div>
	  </div>
    </div><!-- /.well -->
