    <div class="well">
      <div class="row">
        <div class="col-md-2">
          <%= part_preview(unclaimed_part) %>
        </div>
        <div class="col-md-8">
          <%= render partial: "part_details", locals: { part: unclaimed_part } %>
        </div>
        <div class="col-md-2">&nbsp;</div>
      </div>
    </div><!-- /.well -->
