<!-- <link rel="stylesheet" href="/stylesheets/3d.css"> -->
      <div class="is-embedded">
        <div class="js-render-shell render-shell">
      
          <!-- render info -->
          <div class="render-info">
            <div class="js-viewer-health render-health">
              <span class="symbol">&#8854;</span>
              <span class="js-message message"></span>
            </div>
          </div>
          <!-- /render info -->
      
          <!-- render viewport -->
          <div id="solid-viewer" class="render-viewport" data-file="<%= @part.model_url %>"></div>
          <!-- /render viewport -->
        </div>
      </div>

    <script src="/javascripts/3d.js"></script>
