<div class="container">
  <div class="starter-template">
    <h1>Admin Dashboard</h1>
    <p class="lead">Keep those volunteers busy!</p>
  </div>

  <div class="well">
    <div class="row">
      <div class="col-md-4">
        <!--Sidebar content-->
  	    <%= image_tag("george-bust2.png", size: "100") %>
        </div><!-- /.span2 -->
        <div class="col-md-8">
          <!--Body content-->
  	    <p class="pull-right">Part:123 <br> Project: George </p>
  
  		Dimensions: X,Y,Z <br>
  		User Name <br>
  		<button type="button" class="btn btn-primary btn-sm">Accept</button>
  		<button type="button" class="btn btn-primary btn-sm">Reject</button>
  		<button type="button" class="btn btn-primary btn-sm">Unassign</button>
      </div><!-- span10 -->
    </div><!-- /.row -->
  </div><!-- /.well -->
</div><!-- /.container -->
<hr>
