<div class="container">
  <div class="starter-template">
    <h1>Admin Dashboard</h1>
    <p class="lead">Keep those volunteers busy!</p>
  </div>

  <% if @verification_parts.count > 0 %>
    <h2>Parts Awaiting Verification</h2>
    <%= render partial: 'verify_part', collection: @verification_parts %>
  <% end %>

  <% if @shipped_parts.count > 0 %>
    <h2>Parts In Transit</h2>
    <%= render partial: 'receive_part', collection: @shipped_parts %>
  <% end %>
