  <footer>
    <p class="text-center"><%= link_to "How it Works", "how-it-works" %> | <%= link_to "Projects", projects_path %> | <%= link_to "Join Mailing List", "sign_up" %> | <%= link_to "About", "about" %> | <a href="mailto:todd@custom3dstuff.com">Contact Us</a></p>
    <p class="text-center"><a href="http://madewithloveinbaltimore.org">Made with &hearts; in Baltimore</a></p>
  </footer>
