  <footer>
    <p class="text-center footer-links">
      <% footer_links.each do |fl| %>
        <%= link_to fl[:label].gsub(/ /, '&nbsp;').html_safe, fl[:url] %>
      <% end %>
    </p>
    <p class="text-center"><a href="http://madewithloveinbaltimore.org">Made with &hearts; in Baltimore</a></p>
  </footer>
