  <footer>
    <p class="text-center"><%= link_to "About", "about" %> | <a href="mailto:todd@custom3dstuff.com">Contact Us</a></p>
    <p class="text-center"><a href="http://madewithloveinbaltimore.org">Made with &hearts; in Baltimore</a></p>
  </footer>
