<% content_for :title do %>About – <% end %>
<div class="container about">
  <h2 style="margin-top: 5px;">About We the Builders</h2>
  <p>We the Builders makes giant crowd-sourced sculptures out of hundreds of small parts, 3D printed around the world by people like you!</p>
  <p>We the Builders began at the <a href="http://articles.thewalters.org/artbytes2014/">ArtBytes Hackathon</a> at the <a href="http://thewalters.org/default.aspx">Walters Art Museum</a> in Baltimore in 2014. Our team, with the help of <a href="http://dirdim.com/">Direct Dimensions</a>, 3D scanned a bust of George Washington and sliced the digital image into hundreds of sections. We developed a nifty platform where anyone with a 3D printer can claim a part to print on their own, then log and ship us their piece.</p>
  <p>Since then, We the Builders has created several large community-built sculptures in the likeness of some of our nation's historical icons: <a href="https://www.wethebuilders.com/projects/4">George Washington</a>, <a href="https://www.wethebuilders.com/projects/5">Benjamin Franklin</a>, <a href="https://www.wethebuilders.com/projects/6">Edgar Allen Poe</a> (sculpted by Ryan Kittleson), and <a href="https://www.wethebuilders.com/projects/7">Rosie the Riveter</a> (sculpted by Jen Schachter). In 2018 we built a <a href="https://www.wethebuilders.com/projects/8">giant monument of Rosie</a> printed by over 700 people from around the world. With help from Adam Savage (<a href="http://tested.com/">Tested.com</a>, Mythbusters) and dozens of volunteers from <a href="http://nationofmakers.us/">Nation of Makers</a>, we assembled all 2,625 parts into a staggering 6-foot tall sculpture.</p>
  <p>These huge projects aren't possible without the support of builders like you! There are lots of ways you can help out:
    <ul>
      <li>Want to collaborate on a sculpture? <a href="https://docs.google.com/forms/d/e/1FAIpQLSde8gwwmJRLdCzUeqkqpXH4xJ7_5nSRv2wm0m8CoVPSTQBU5A/viewform?usp=sf_link">Contact Us</a>!</li>
      <li>Donate to our <a href="https://www.gofundme.com/we-the-builders">Crowdfunding Campaign</a>!</li>
      <li><%= link_to "Join the Mailing List", :sign_up %> to be notified of future build projets!</li>
    </ul>
  </p>
  <h3>Our Team</h3>
  <p>The We the Builders Team is:
    <ul>
      <li><a href="https://custom3dstuff.com/">Todd Blatt</a></li>
      <li><a href="https://www.jenschachter.com/">Jennifer Schachter</a></li>
      <li><a href="https://martymcgui.re/">Marty McGuire</a></li>
    </ul>
  </p>
  <p>Past contributors include:
    <ul>
      <li>David Fine</li>
      <li>Matthew Griffin</li>
      <li>Amy Hurst</li>
      <li>Ryan Kittleson</li>
    </ul>
  </p>
  <h3>Thanks to Our Past and Current Sponsors</h3>
  <p>Special thanks to <a href="http://dirdim.com/">Direct Dimensions</a> for their amazing 3D scanning skills.</p>
  <p>Special thanks to <a href="http://www.tinkerines.com/">Tinkerine Studio</a> for sponsoring the George Washington Bust project to allow us to reimburse some shipping costs!</p>
</div>

<%= render partial: "shared/footer" %>
