<div class="well">
  <h2 style="margin-top: 5px;">About We the Builders</h2>
  <p>We the Builders was created as part of the <a href="http://articles.thewalters.org/artbytes2014/">ArtBytes Hackathon</a> at the <a href="http://thewalters.org/default.aspx">Walters Art Museum</a>. Our team set out to recreate a full 1:1 scale replica of a prominent work of Baltimore public art using 3D printing. We didn't have enough printers to do it all ourselves, so we built this crowdsourcing platform!</p>
  <p>The We the Builders Team is:
    <ul>
      <li>Todd Blatt</li>
      <li>David Fine</li>
      <li>Matthew Griffin</li>
      <li>Amy Hurst</li>
      <li>Ryan Kittleson</li>
      <li>Marty McGuire</li>
    </ul>
  </p>
  <p>Special thanks to <a href="http://dirdim.com/">Direct Dimensions</a> for their amazing 3D scanning skills.</p>
  <p>Special thanks to <a href="http://www.tinkerines.com/">Tinkerine Studio</a> for sponsoring the George Washington Bust project to allow us to reimburse some shipping costs!</p>
</div>
