<% content_for :title do %>How it works – <% end %>
<div class="container how-it-works">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">How it works</h3>
      <ol style="margin-right: 1em; padding-left: 1em">
        <li>Join the project by requesting a file to print. You will be assigned a part automatically.</li>
        <li>Download the STL file for your part from the project page.</li>
        <li>Print your given part within 24 hours. Check the project and part requirements for details like color, material, print settings, etc.</li>
        <li>Once it's printed, write your part ID on a non-visible face using a permanent marker. Feel free to add your initials or leave a note for the assembly team!</li>
        <li>Verify your printed part by uploading a photo of the part along with its length, width, and height measurements.</li>
        <li>Ship your part using the details in the project description.</li>
        <li>Let the assembly team know that your part has shipped. Be sure to include a tracking number if you have one!
          <ul>
            <li><em>Note: Once your part is verified, you can grab another. Combine shipments to save money!</em></li>
          </ul>
        </li>
        <li>When all parts for a project have been received, the assembly team will put them all together to make a finished sculpture. Your name will appear on the project page as a valued contributor to the project!</li>
      </ol>
    </div>
    <div class="col-md-6" style="padding-top: 1em">
      <figure class="thumbnail">
        <img src="https://s3.amazonaws.com/epluribus/how-it-works-rotator/2015-05-16/ben-chunks.png" alt="a 3D render of a partial bust of Benjamin Franklin made up of multi-colored chunks">
        <figcaption class="caption">Claim a part of the sculpture. Each on is sized for 3D printing.</figcaption>
      </figure>
      <figure class="thumbnail">
        <img src="https://s3.amazonaws.com/epluribus/how-it-works-rotator/2015-05-16/print-part.jpg" alt="A blue part resting on the print bed of a Tinkerine Ditto 3D printer.">
        <figcaption class="caption">Print your part on your 3D printer!</figcaption>
      </figure>
      <figure class="thumbnail">
        <img src="https://s3.amazonaws.com/epluribus/how-it-works-rotator/2015-05-16/part-marking.jpg" alt="A hand writes in black sharpie on a green part.">
        <figcaption class="caption">If needed, mark the ID of your part on an "inside" surface.</figcaption>
      </figure>
      <figure class="thumbnail">
        <img src="https://s3.amazonaws.com/epluribus/how-it-works-rotator/2015-05-16/delivery-guy.jpg" alt="A smiling delivery person carries several packages.">
        <figcaption class="caption">Ship your finished parts to the project coordinator.</figcaption>
      </figure>
      <figure class="thumbnail">
        <img src="https://s3.amazonaws.com/epluribus/how-it-works-rotator/2015-05-16/assembly.jpg" alt="A builder applies glue to a 3D printed part on a table covered with partially assembled sculpture pieces.">
        <figcaption class="caption" class="caption">The build team assembles the parts into the final sculpture!</figcaption>
      </figure>
    </div>
  </div>
</div>
