<div class="container how-it-works">
  <div class="row">
    <div class="col-md-6">
      <h3 class="text-center">How it works</h3>
      <ol style="margin-right:5px">
        <li>Join the project by requesting a file to print. You will be assigned a part automatically.</li>
        <li>Download the STL file for your part from the project page.</li>
        <li>Print your given part within 24 hours. Check the project and part requirements for details like color, material, print settings, etc.</li>
        <li>Once it's printed, write your part ID on a non-visible face using a permanent marker. Feel free to add your initials or leave a note for the assembly team!</li>
        <li>Verify your printed part by uploading a photo of the part along with its length, width, and height measurements.</li>
        <li>Your photo and details will be verified by the assembly team within a couple of hours and you will receive an address to mail your part</li>
        <li>Ship your part using the details in the project description.</li>
        <li>Let the assembly team know that your part has shipped. Be sure to include a tracking number if you have one!
          <ul>
            <li>Note: Once your part is verified, you can grab another. Combine shipments to save money!</li>
          </ul>
        </li>
        <li>When all parts for a project have been received, the assembly team will put them all together to make a finished sculpture. Your name will appear on the project page as a valued contributor to the project!</li>
      </ol>
    </div>
    <div class="col-md-6">
      <div id="howCarousel" class="carousel container slide" data-ride="carousel" data-pause="false">
        <div class="carousel-inner">
          <div class="active item" style="background-image: url('https://s3.amazonaws.com/epluribus/how-it-works-rotator/2015-05-16/ben-chunks.png')"></div>
          <div class="item" style="background-image: url('https://s3.amazonaws.com/epluribus/how-it-works-rotator/2015-05-16/print-part.jpg')"></div>
          <div class="item" style="background-image: url('https://s3.amazonaws.com/epluribus/how-it-works-rotator/2015-05-16/part-marking.jpg')"></div>
          <div class="item" style="background-image: url('https://s3.amazonaws.com/epluribus/how-it-works-rotator/2015-05-16/delivery-guy.jpg')"></div>
          <div class="item" style="background-image: url('https://s3.amazonaws.com/epluribus/how-it-works-rotator/2015-05-16/assembly.jpg')"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "shared/footer" %>
