<% content_for :title do %>Edit project <%= ActionView::Base.full_sanitizer.sanitize(@project.id.to_s) %> – <% end %>
<div class="container project-edit-tabs">
  <ul class="row nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#project-detail" aria-controls="project-detail" role="tab" data-toggle="tab"><i class="fa fa-file-text-o"></i> Project Details</a></li>
    <li role="presentation"><a href="#project-editors" aria-controls="project-editors" role="tab" data-toggle="tab"><i class="fa fa-users"></i> Project Editors</a></li>
  </ul>
  <div class="tab-content row">
    <div role="tabpanel" class="tab-pane container fade in active" id="project-detail">
      <%= render partial: 'projects/edit_details' %>
    </div>
    <div role="tabpanel" class="tab-pane container fade" id="project-editors">
      <%= render partial: 'projects/edit_editors' %>
    </div>
  </div>
</div>
