<div class="">
  <p><%= button_to("Unassign", project_print_job_unassign_path(printed_part.project_id, printed_part.id), class: "btn btn-danger btn-block") %></p>
</div>
<%= render partial: "parts/admin_part_options", locals: { part: printed_part } %>
