<div class="">
  <p><%= button_to("Accept", project_print_job_accept_path(shipped_part.project_id, shipped_part.id), class: "btn btn-primary btn-block") %></p>
  <p><%= button_to("Unassign", project_print_job_unassign_path(shipped_part.project_id, shipped_part.id), class: "btn btn-danger btn-block") %></p>
</div>
