// Place all the styles related to the Builders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  margin: 20px 0;
}

.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #f7f9fc;
  box-shadow: rgba(0,0,0,0.125) 1px 1px 1px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  box-shadow: rgba(0,0,0,0.5) 0px 2px 3px;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
  .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.profile-usermenu {
  margin-top: 30px;

  ul li {
    border-bottom: 1px solid #e8eef3;
    &:last-child {
      border-bottom: none;
    }
    &.active {
      border-bottom: none;
      a {
        color: #5b9bd1;
        background-color: #f6f9fb;
        border-left: 2px solid #5b9bd1;
        margin-left: -2px;
      }
    }

    a {
      color: #93a3b5;
      font-size: 14px;
      font-weight: 400;
      &:hover {
        background-color: #edf4f8;
        color: #5b9bd1;
      }

      i {
        margin-right: 8px;
        font-size: 14px;
      }
    }
  }
}

.profile-content {
  padding: 20px;
  background: #f7f9fc;
  min-height: 460px;
  box-shadow: rgba(0,0,0,0.125) 1px 1px 1px;

  h1 { margin-top: 0 }
}

.builder-contribution {
  .thumbnail {
    p {
      font-size: small;
      font-weight: 300;
      margin: 0 10px;
    }
  }
}
