// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-description {
  font-size: 1.1em;
  text-align: justify;
}

.well.shipping-part {
  background: none #f7f7f7;
}

.contributors {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    margin: 2px;
    position: relative;
    img {
      width: 50px;
      height: 50px;
    }
    .part-count {
      position: absolute;
      bottom: -1px;
      right: -5px;
      background: none #428bca;
      color: #fff;
      border-radius: 50%;
      width: 18px;
      line-height: 18px;
      text-align: center;
      font-size: 12px;
    }
  }
}
