// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-description {
  font-size: 1.1em;
  text-align: justify;
}

.well.shipping-part {
  background: none #f7f7f7;
}

.contributors {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    height: 50px;
    margin: 2px;
    position: relative;
    width: 50px;
    img {
      width: 50px;
      height: 50px;
    }
    .part-count {
      position: absolute;
      bottom: -1px;
      right: -5px;
      background: none #428bca;
      color: #fff;
      border-radius: 50%;
      width: 18px;
      line-height: 18px;
      text-align: center;
      font-size: 12px;
    }
  }
}

div.recent-activity {
  margin: 0;
  font-size: 0.9em;
  > div {
    margin: 0;
    padding: 10px 0;
    &:nth-child(2n-1) {
      background-color: #DDD;
    }
    &:nth-child(2n) {
      background-color: #F5F5F5;
    }
  }
  span {
    font-size: 0.8em;
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
  }
}

.project-edit-tabs {
  background-color: #ddd;
  .nav.nav-tabs {
    background-color: #fff;
    li.active a {
      background-color: #ddd;
    }
  }
  .tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

trix-editor {
  background-color: #FFF;
}

.completed-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
  .completed-project {
    box-shadow: rgba(0,0,0,0.4) 0 0 3px;
    padding: 1em;
  }
  .completed-project-image {
    max-height: 200px;
    max-width: 100%;

    img {
      max-height: 200px;
      object-fit: cover;
      width: 100%;
    }
  }
}

.prj-stats-box {
  text-align: center;
  *[class$='-count'] {
    font-weight: bold;
  }
  .total-progress {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    margin: 1em 0;
    padding: 0 0 1em;

    > div {
      margin: 0.5em 0;
    }
  }
  .in-progress-progress {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em 0;
    padding: 0 0 1em;

    > div {
      margin: 0.5em 0;
    }
    .total-in-progress {
      width: 100%;
    }
    .progress-count {
      font-size: 1.2;
    }
  }
  .remaining-progress {
    > div {
      margin: 0.5em 0;
    }
  }
}
