// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  background: transparent;
  text-shadow: #eee 1px 1px 1px;
  h3 {
    font-weight: lighter;
  }
}

.call-to-action {
  margin-top: 2em;
  .btn-default {
    background: transparent;
    font-weight: lighter;
    text-shadow: #eee 1px 1px 1px;

    &:hover {
      color: #428bca;
      border-color: #428bca;
      border-width: 2px;
    }
  }
}

.container.how-it-works {
  li {
    margin-top: 1em;
  }
}

div.desc-column {
  h3 {
    margin-top: 10px;
  }
  .caption > h3 {
    margin-top: 0;
  }
}
