// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  border-top: 1px solid #fff;
  padding-top: 10px;
  margin-top: 20px;
}

.carousel {
  z-index: -99;
  .item {
      -webkit-transition: opacity 1s;
      -moz-transition: opacity 1s;
      -ms-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center center;
  }
  .active.left {
    left:0;
    opacity:0;
    z-index:2;
  }
}

body.welcome-index {
  color: #eee;
  padding-top: 0;
  background: #000;

  .navbar {
    background: transparent;
    border: none;
    text-shadow: #333 1px 1px 1px;
  }

  #welcomeCarousel .item {
    position: fixed; 
    width: 100%; height: 100%;
    opacity: 0.45;
  }

  .jumbotron {
    margin-top: 4em;
    background: transparent;
    color: #fff;
    text-shadow: #333 1px 1px 1px;
    h3 {
      font-weight: lighter;
    }
  }

  .call-to-action {
    margin-top: 25px;
    .btn-default {
      background: transparent;
      color: #fff;
      font-weight: lighter;
      text-shadow: #333 1px 1px 1px;

      &:hover {
        color: #428bca;
        border-color: #428bca;
        border-width: 2px;
      }
    }
  }

  .fixed-footer footer {
    position: absolute;
    bottom: 0;
    width: 96%;
    margin-left: 2%;
  }

}

body.welcome-about {
  .about {
    margin-top: 20px;
  }
}

body.welcome-how_it_works {
  .how-it-works {
    margin-top: 20px;
    li {
      margin-top: 10px;
    }
  }
  #howCarousel, #howCarousel .carousel-inner, #howCarousel .item {
    position: absolute;
    width: 500px;
    height: 500px;
  }
}

div.desc-column {
  h3 {
    margin-top: 10px;
  }
  .caption > h3 {
    margin-top: 0;
  }
}
